.notificationsContainer {
    position: fixed;
    top: 2rem;
    right: 3rem;
    z-index: 300;
    
}

.notification {
    position: relative;
    padding: 2rem 1rem;
    border: 3px solid rgb(18, 137, 177);
    border-radius: 8px;
    background-color: white;
    outline: none;
}

.closeNotification {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 20px;
    color: black;
    background-color: white;
    border: none;
}

.closeNotification:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}


.notification p {
    margin-top: 1rem;
    color: rgb(59, 59, 59);
}

