.taskItem {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid lightblue;
    border-radius: 8px;
}

.taskButtons {
    display: flex;
    align-items: center;
}

.taskButtons button {
    border: none;
    outline: none;
    color: blue;
    padding: 1rem;
    background-color: white;
    text-decoration: none;
}

.taskButtons button:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
    border-radius: 8px;
}
